<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scnu.blockchain_based_im_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlockchainBasedIMAPP">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.scnu.blockchain_based_im_app.ui.setting.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.setting.ChangeMyNameActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP" />
        <activity
            android:name=".ui.contact.SearchFriendActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".ui.chat.MsgActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".ui.contact.ChangeRemarkActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".ui.contact.NewFriendActivity"
            android:exported="true"
            android:label="新的朋友"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity
            android:name=".ui.contact.AddFriendActivity"
            android:exported="true"
            android:label="添加朋友"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".ui.contact.FriendActivity"
            android:exported="true"
            android:label=" "
            android:theme="@style/Theme.BlockchainBasedIMAPP" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:label="@string/Register"
            android:theme="@style/Theme.BlockchainBasedIMAPP0" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BlockchainBasedIMAPP0">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.setting.HelperActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_HelperActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.RecoverChatHistoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_RecoverChatHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.BackUpChatHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_BackUpChatHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_ChangePasswordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.SetProfilePictureActivity"
            android:exported="true"
            android:theme="@style/Theme.BlockchainBasedIMAPP0">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_SetProfilePictureActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.FeedbackActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.scnu.scnu.blockchain_based_im_app.ACTION_START_FeedbackActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>